@import 'compass'
=modal-position()
	width: 80%
	margin: 0 auto
	position: relative
	top: 50%
	-webkit-transform: translateY(-50%)
	transform: translateY(-50%)
$input-height: 30px
$input-margin: 10px
=input-position()
	height: $input-height
	line-height: $input-height
	&:focus
		border-color: deepskyblue

=button-style()
	height: $input-height
	background: transparent
	color: crimson
	border: 1px solid gray
	font-family: 'Nanum Gothic', sans-serif
	text-align: center
	cursor: pointer
	&:focus
		background-color: silver

.modal
	position: absolute
	top: 0
	height: 100%
	width: 100%
	background: white
	color: crimson
	display: none
	z-index: 100
	overflow: auto
	+box-sizing(border-box)
	.modal-back
		position: absolute
		font-weight: bold
		font-size: 28px
		line-height: 36px
		cursor: pointer
		left: 10px
		top: 8px
		z-index: 10
	.modal-close
		position: absolute
		font-size: 30px
		line-height: 36px
		cursor: pointer
		right: 10px
		top: 8px
		z-index: 10
	.modal-title
		position: absolute
		width: 100%
		line-height: 50px
		text-align: center

#modal-login
	height: 100%
	#login-wrapper
		+modal-position
		#modal-logo
			font-family: roboto, sans-serif
			font-size: 4em
			text-align: center
			margin-bottom: 15px
		input
			+input-position
		#login-sbmt
			+button-style
			margin-top: 10px
			margin-bottom: 10px
		#join-btn, #findpw-btn, #offline-btn
			+button-style

#modal-join
	height: 100%
	form
		+modal-position
		#join-agree
			height: auto
		#check-id-btn
			height: $input-height
			background: transparent
			font-family: "Nanum Gothic", sans-serif
			text-align: center
			cursor: pointer
			border: 1px solid gray
		input
			height: $input-height
		#join-sbmt
			+button-style

#modal-findpw
	height: 100%
	.findpw-header
		text-align: center
	#findpw-id-sbmt, #findpw-ans-sbmt, #findpw-newpw-sbmt
		+button-style
	#findpw-forms
		+modal-position
	input
		+input-position

#modal-menu
	height: 100%
	.menu
		float: left
		width: 50%
		border: 1px solid silver
		color: crimson

#modal-search
	height: 100%
	form
		+modal-position

#modal-todo
	height: 100%
	form
		+modal-position()
	input
		+input-position
	#todo-sbmt
		+button-style

#modal-plan
	height: 100%
	form
		+modal-position()
	input
		+input-position()
	#plan-sbmt
		+button-style()

#modal-dday
	height: 100%
	form
		+modal-position()
	input
		+input-position()
	#dday-sbmt
		+button-style

#modal-type
	height: 100%
	.wrapper
		+modal-position
	.type-list
		float: left
		width: (100%) / 3
		text-align: center
		font-size: 30px

#modal-search
	height: 100%
	form
		+modal-position
	#search-date
		width: 100%
		height: 30px
		margin-bottom: 10px
	#search-btn, #search-today
		width: 50%
		border: 1px solid silver
		height: 40px
		color: crimson
		background: white