doctype html
html(manifest="zecretary.appcache", lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="naver-site-verification", content="7c9d54966ca6104f43beb596ae959647f28e6334")
		title #{title}
		// web fonts
		link(rel="stylesheet", href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css")
		// stylesheets
		link(rel="stylesheet", href="vendor/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="dist/css/zecretary.css")
	body
		#zecretary
			header.main-header
				.info
				.user
					.avatar
					.name 로그인
					.menu
						ul
							li: .menu-list#menu-logout 로그아웃
							li: .menu-list#menu-profile 개인정보
							li: .menu-list#menu-upload 업로드
							li: .menu-list#menu-download 다운로드
							li: .menu-list#menu-option 설정
							li: .menu-list#menu-report 오류제보
				.tool
					.tool-button.tool-toggle: i.fa.fa-list
					.tool-button.tool-search: i.fa.fa-search
			main
				block content
			.modal
			.intro
		// bower javascript
		script(src="vendor/jquery/dist/jquery.min.js")
		script(src="vendor/js/jquery.uriAnchor-1.2.1.js")
		script(src="vendor/js/jquery.event.gevent-1.0.2.js")
		script(src="vendor/pouchdb/dist/pouchdb.min.js")
		script(src="vendor/pouchdb-find/dist/pouchdb.find.min.js")
		script(src="vendor/pouchdb-authentication/dist/pouchdb.authentication.min.js")
		//- script(src="vendor/js/jgestures.min.js")
		//- script(src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
		// 내 자바스크립트
		script(src="dist/js/zecretary.js")
		script $(function () { zp.initModule($('#zecretary')); });