.calendar-table {
  text-align: center;
  border-collapse: collapse;
}
.calendar-table thead th {
  border-bottom: 1px solid black;
}
.calendar-table td:nth-child(n+1) {
  vertical-align: top;
}
.calendar-table td:first-child, .calendar-table th:first-child, .calendar-table .calendar-caption {
  color: green;
}
.calendar-table td:nth-child(2), .calendar-table th:nth-child(2) {
  color: red;
}
.calendar-table td:last-child, .calendar-table th:last-child {
  color: blue;
}
.calendar-table .hidden {
  visibility: hidden;
  display: none;
}
.calendar-table .td-today {
  color: darkred;
  text-decoration: underline;
  font-weight: bolder;
}
