/* line 10, ../sass/zp.day.sass */
.dday-table {
  width: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 13, ../sass/zp.day.sass */
.dday-table td {
  border-top: 1px solid silver;
  height: 40px;
  background: red;
  color: white;
  text-align: center;
}

/* line 20, ../sass/zp.day.sass */
.plan-table {
  width: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 23, ../sass/zp.day.sass */
.plan-table td {
  border-top: 1px solid gray;
  height: 40px;
  text-align: center;
  color: silver;
}

/* line 29, ../sass/zp.day.sass */
.todo {
  position: absolute;
  width: 100%;
  background: yellow;
  left: 0;
  height: 39px;
  text-align: center;
}
/* line 36, ../sass/zp.day.sass */
.todo .input {
  height: 39px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 39px;
}

/* line 39, ../sass/zp.day.sass */
.plan {
  background: skyblue;
  text-align: center;
}
/* line 42, ../sass/zp.day.sass */
.plan .input {
  height: 39px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 39px;
}

/* line 45, ../sass/zp.day.sass */
.dday {
  background: red;
  height: 39px;
  text-align: center;
}

/* line 50, ../sass/zp.day.sass */
.whole {
  background: skyblue;
  height: 39px;
  text-align: center;
}

/* line 55, ../sass/zp.day.sass */
.time-indicator {
  background: crimson;
  height: 1px;
  width: 100%;
  position: absolute;
}
