/* line 5, ../sass/zp.month.sass */
.month-calendar {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 10, ../sass/zp.month.sass */
.month-calendar table {
  width: 100%;
  height: 100%;
}
/* line 13, ../sass/zp.month.sass */
.month-calendar table caption {
  display: none;
}
/* line 15, ../sass/zp.month.sass */
.month-calendar table tbody th, .month-calendar table td {
  cursor: pointer;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-collapse: collapse;
  max-width: 0;
  width: 12.5%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 25, ../sass/zp.month.sass */
.month-calendar table tr {
  border-bottom: 1px solid gray;
}
/* line 27, ../sass/zp.month.sass */
.month-calendar table td:hover {
  font-weight: bold;
}

/* line 30, ../sass/zp.month.sass */
.month-dday {
  overflow: scroll;
  background-color: red;
  border: 1px solid silver;
  font-size: 10px;
}

/* line 36, ../sass/zp.month.sass */
.month-todo {
  overflow: scroll;
  background-color: yellow;
  border: 1px solid silver;
  font-size: 10px;
}

/* line 42, ../sass/zp.month.sass */
.month-done {
  background-color: yellowgreen;
}

/* line 45, ../sass/zp.month.sass */
.month-due {
  background-color: orange;
}

/* line 48, ../sass/zp.month.sass */
.month-plan {
  overflow: scroll;
  background-color: skyblue;
  border: 1px solid silver;
  font-size: 10px;
}
