.main-header {
  background: crimson;
  color: white;
  text-align: center;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid black;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.main-header .info {
  line-height: 40px;
}
.main-header .info .title-year, .main-header .info .title-month, .main-header .info .title-date, .main-header .info .title-week {
  cursor: pointer;
}
.main-header .user {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.main-header .user .avatar {
  color: crimson;
  display: inline-block;
  background: white;
  border: 1px solid silver;
  text-align: center;
  margin: 5px 4px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  float: left;
}
.main-header .user .name {
  float: left;
  line-height: 40px;
}
.main-header .user .menu {
  display: none;
  width: 150px;
  position: absolute;
  z-index: 1;
  top: 40px;
  background: white;
  color: black;
}
.main-header .user .menu li {
  border: 1px solid gray;
  list-style-type: none;
  height: 30px;
  line-height: 30px;
}
.main-header .tool {
  position: absolute;
  right: 0;
  top: 0;
}
.main-header .tool .tool-button {
  background: white;
  color: crimson;
  float: left;
  border: 1px solid silver;
  margin: 5px 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.main-header .tool .tool-button:hover {
  background: lightgray;
}
.main-header .tool .tool-button:active {
  background: gray;
}

main {
  position: relative;
  top: 40px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
main .flick-con {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  clear: both;
}
main .flick-panel {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
}
main .flick-panel:first-child {
  left: 0;
}
main .flick-panel:nth-child(2) {
  left: 100%;
}
main .flick-panel:last-child {
  left: -100%;
}
