/* line 5, ../sass/zp.year.sass */
.year-main {
  position: absolute;
  top: 0;
  bottom: 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 11, ../sass/zp.year.sass */
.year-calendar {
  font-size: 10px;
  float: left;
  width: 33.33333%;
  height: 25%;
}
/* line 16, ../sass/zp.year.sass */
.year-calendar:nth-child(3n+1), .year-calendar:nth-child(3n+2) {
  border-right: 1px solid silver;
}
/* line 18, ../sass/zp.year.sass */
.year-calendar table {
  width: 100%;
  cursor: pointer;
}
/* line 21, ../sass/zp.year.sass */
.year-calendar table:hover, .year-calendar table caption:hover {
  background: #ebebb8;
}
/* line 23, ../sass/zp.year.sass */
.year-calendar table th:first-child {
  display: none;
}
/* line 25, ../sass/zp.year.sass */
.year-calendar table td {
  margin: 0;
  padding: 0;
}
